{% extends "base.html.j2" %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary ">
            <h2 class="h4 mb-0">Your Messages</h2>
        </div>
    </div>
</div>

{% for conversation in conversations %}
    <div>
        <a href="{{ url_for('conversation', conversation_id=conversation.id) }}"> Chat {{ conversation.id }} </a>
    </div>
{% else %}
    <p>No chats</p>
{% endfor %}

{% endblock %}
