{% extends "base.html.j2" %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary ">
            <h2 class="h4 mb-0">Your Messages</h2>
        </div>
    </div>
</div>

<div class="card-body" style="max-height: 500px; overflow-y: auto;">
    <p class="text-muted mb-3"> Click to chat</p>
     <div class="list-group">
    {% for conversation in conversations %}
        <div>
            <a href="{{ url_for('conversation', conversation_id=conversation.id) }}"> Chat with {{ conversation.username }} </a>
        </div>
    {% else %}
        <p>No chats</p>
    {% endfor %}
    </div>
</div>

{% endblock %}
